.box {
  display: block;
  margin-top: 30px;
  margin-left: 30%;
  margin-right: 30%;
  border: 1px black solid;
  height: 10vh;
  line-height: 10vh;
}
/* #react-naver-map {
  border-radius: 15px;
} */
.naverMap {
  text-align: center;
  width: 80%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  margin: 0 auto;
}
.address {
  border: 1px black solid;
  width: 80%;
  height: 10vh;
  margin: 0 auto;
  line-height: 10vh;
  border-top: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.address a {
  text-align: center;
  text-decoration: none;
  color: #000;
}
.info div {
  width: 50%;
  margin: 0 auto;
  float: left;
}
.info {
  width: 100%;
  height: 300px;
}

.msgSlider div {
  display: block;
  overflow: auto;
}
