.App {
  text-align: center;
  background-color: #cdbad9;
  background-image: url("https://www.transparenttextures.com/patterns/nice-snow.png");

}
.header{
  height: 300px;
  text-align: center;
}
.menu {
  text-align: center;
  float: left;
  width: 25vw;
  
}

