.App {
  text-align: center;
  background-color: #cdbad9;
  background-image: url("https://www.transparenttextures.com/patterns/nice-snow.png");
  height: 100vh;
}
.header {
  padding-top: 5vh;
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;
}
.menu {
  text-align: center;
  float: left;
  width: 20vw;
}

.snow-bg {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-image: url("/public/sakura-1.png"), url("/public/sakura-2.png");
  -webkit-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}
@-webkit-keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  to {
    background-position: 1000px 1000px, 200px 400px, -200px 300px;
  }
}
@keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  to {
    background-position: 1000px 1000px, 200px 400px, -200px 300px;
  }
}

.box {
  display: block;
  margin-top: 30px;
  margin-left: 30%;
  margin-right: 30%;
  border: 1px black solid;
}
input {
  width: 45vw;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding: 10px;
  background-color: rgb(233, 233, 233);
  margin: 5px;
}
.footer {
  background-color: white;
  height: 200px;
}
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}
textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}
