.App {
  text-align: center;
  background-color: #cdbad9;
  background-image: url("https://www.transparenttextures.com/patterns/nice-snow.png");
  height: 100%;
}
header {
  padding-top: 5vh;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 5vh;
}
.header a {
  text-decoration: none;
  text-align: center;
  float: left;
  width: 25%;
  color: #000;
}

.snow-bg {
  content: "";
  display: block;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-image: url("/public/sakura-1.png"), url("/public/sakura-2.png");
  -webkit-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}
@-webkit-keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  to {
    background-position: 1000px 1000px, 200px 400px, -200px 300px;
  }
}
@keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  to {
    background-position: 1000px 1000px, 200px 400px, -200px 300px;
  }
}

footer {
  background-color: white;
  height: 10vh;
  width: 100%;
}

@media (min-width: 768px) {
  .App {
    width: 400px;
    margin: 0 auto;
  }
}
